* {
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

header{
    height: 55px;
    display: flex;
    justify-content: center;
    background-color:#76c7c0;
    z-index: 2;
}

#SiteName{
 font-size: 35px;
    margin-right: 125px;
    color: white;
    
}

.dws-menu *{
 margin: 0;
 padding: 0;
 z-index: 2; 
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
}
.dws-menu > ul li a{
 display: block;
 padding: 20px 20px 15px 30px;
 font-size: 14px;
 color: white;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(232, 100, 90,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
 

 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}
/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #e8645a;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e8645a;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

#searchBox{
  font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 15px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#carouselExampleIndicators{
    width: 100%;
}

main {
    margin-top: 5px;
    height: 1500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
}
#One{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
}
#OneText{
    text-align: justify;
}
#OneButtonIn{
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-radius: 5px;
  background-color: #e8645a;
  transition: 0.2s;   
}
#two{
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#twoButton{
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-radius: 6px;
  background-color: #76c7c0;
  transition: 0.2s;
}

#TO{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
    border-radius: 5px;
}
#TT{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
    border-radius: 5px;
}
#TTh{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
    border-radius: 5px;
}
#TF{
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #f8f8f8;
    border-radius: 5px;
}
#three{
    width: 80%;
    height: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
}
#ThO{
    height: 15%;
}
#ThT{
    width: 100%;
    height: 40%;
}
#ThT img{
    border-radius: 5px;
}
#ThTh{
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#ThTh li{
    list-style-type: none;
}
#ThTh li::before{
    content: "➦ ";
    color: #e2534b;
}
#ThThOne{
    width: 25%;
    text-align: left;
}
#ThThTwo{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#ThThTwo img{
    border-radius: 5px;
}
#ThThThree{
    width: 25%;
}
#ThF{
    height: 250px;
    border: 1px solid black;
    outline: none;
    border: none;
	box-sizing: border-box;
}
ThF::before,
ThF::after{
    box-sizing: border-box;
}
.containerThF{
    margin-left: 40%;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carouselThF{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 60s infinite linear;
}
#carouselThF:hover{
	animation-play-state: paused;
}
#carouselThF figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 106px;
	left: 10px;
	top: 30px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
#carouselThF figure:nth-child(1){
    transform: rotateY(0deg) translateZ(288px);
}
#carouselThF figure:nth-child(2) { 
    transform: rotateY(40deg) translateZ(288px);
}
#carouselThF figure:nth-child(3) { 
    transform: rotateY(80deg) translateZ(288px);
}
#carouselThF figure:nth-child(4) { 
    transform: rotateY(120deg) translateZ(288px);
}
#carouselThF figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}
#carouselThF figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}
#carouselThF figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}
#carouselThF figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}
#carouselThF figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}
#carouselThF figure img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
#carouselThF figure img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}
@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

footer{
    height: 320px;
}
#Up{
    height: 90%;
    display: flex;
    justify-content: space-around;
    padding: 0 50px 0 70px;
    background-color: #76c7c0;
    font-size: 15px;
}
#Contacts{
    width: 30%;
    text-align: left;
    color: white;
    
}
#Company{
    width: 10%;
    text-align: left;
}
#Company li{
    list-style-type: none;
}
#Company li::before{
    content: "> ";
    color: white;
}
#Company a{
    color: white;
}
#Community{
    width: 10%;
    text-align: left;
}
#Community li{
    list-style-type: none;
}
#Community li::before{
    content: "> ";
    color: white;
}
#Community a{
    color: white;
}
#FromTheBlog{
    width: 30%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#BoxInFromTheBlog{
    height: 80%;
    display: flex;
    flex-direction: column;
}
#FromTheBlogOne{
    height: 30%;
    
}

#FromTheBlogOne img{
    width: 70px;
    height: 70px;
    float: left;
    border-radius: 5px;
}
#FromTheBlogTwo{
    margin-top: 10%;
    height: 30%;
}
#FromTheBlogTwo img{
    width: 70px;
    height: 70px;
    float: left;
}
#Down{
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    background-color: #6ab3ac;
}
#SocialIcons{
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}